* {
    margin: 0;
    padding: 0;
  
}
  
  
body {
    background: #000000;
    font-family: 'Oxygen', sans-serif;
    color: #fff;

}


.footer-container {
    border-top: 1px solid #464545;
    width: 115vw;
    text-align: center;
}


.sm-wrapper {
    margin: 1em;
}


.icon {
    cursor: pointer;
    color: inherit;
    transition: transform 500ms ease-in-out;
}


.icon:hover {
    transform: scale(1.2);
}